%h1 Listing repos

%table
  %tr
    %th Github name
    %th Oauth token
    %th Host
    %th Api endpoint
    %th Ticket url
    %th Branch naming convention
    %th
    %th
    %th

  - @repos.each do |repo|
    %tr
      %td= repo.github_name
      %td= repo.oauth_token
      %td= repo.host
      %td= repo.api_endpoint
      %td= repo.ticket_url
      %td= repo.branch_naming_convention
      %td= link_to 'Show', repo
      %td= link_to 'Edit', edit_repo_path(repo)
      %td= link_to 'Destroy', repo, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Repo', new_repo_path
