=content_for :title do
  GSR GitHub Installations


%h1 Listing GitHub Installations

%table
  %thead
    %tr
      %th Name
      %th Domain
      %th Api endpoint
      %th

  - @git_hubs.each do |git_hub|
    %tr
      %td= git_hub.name
      %td= git_hub.domain
      %td= git_hub.api_endpoint
      %td= link_to 'Show', git_hub
      /
        %td= link_to 'Edit', edit_git_hub_path(git_hub)
        %td= link_to 'Destroy', git_hub, :method => :delete, :data => { :confirm => 'Are you sure?' }

.row.end_buttons
  .four.fourths
    = link_to 'New GitHub Install', new_git_hub_path, {:class=>'button'}
