-if @git_hub.repos.size() == 0
  .warning.message
    Looks good. Now let's set up a repo you'd like to report on.
  =link_to "Create a Repo", new_repo_path(), {:class=>'button'}

%p#notice= notice

%p
  %b Name:
  = @git_hub.name
%p
  %b Domain:
  = @git_hub.domain
%p
  %b Api endpoint:
  = @git_hub.api_endpoint
%p
  %b Client:
  = @git_hub.client_id
%p
  %b Client secret:
  = @git_hub.client_secret

= link_to 'Edit', edit_git_hub_path(@git_hub)
\|
= link_to 'Back', git_hubs_path
