-if @git_hub.repos.size() == 0
  .warning.message
    Looks good. Now let's set up a repo you'd like to report on.
  =link_to "Create a Repo", new_repo_path(), {:class=>'button'}

-if notice
  .row
    .four.fourths
      #notice= notice

.row
  .one.fourths
    Name:
  .three.fourths
    = @git_hub.name
.row
  .one.fourths
    Domain:
  .three.fourths
    = @git_hub.domain
.row
  .one.fourths
    Api endpoint:
  .three.fourths
    = @git_hub.api_endpoint

/
  .row
    .one.fourths
      Client:
    .three.fourths
      = @git_hub.client_id
  .row
    .one.fourths
      Client secret:
    .three.fourths
      = @git_hub.client_secret

.row.end_buttons
  .four.fourths
    = link_to 'Edit', edit_git_hub_path(@git_hub), {:class=>'button'}
